<% content_for :sub_header_menu do %>
    <div id="sub_header_menu" class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><%= link_to :New, "/users/new"  %></li>
            <li><%= link_to :Tag, "/users/new"  %></li>
            <li><%= link_to :Search, "/users/new"  %></li>
          </ul>
        </div>
      </div>
    </div>
<% end %>



<div id="main_box" role="main_box">
  <ul id="tiles">
    <!-- These are our grid blocks -->
    <li><img width="200px" src="http://a3.mzstatic.com/us/r1000/076/Purple/v4/50/9d/e9/509de9a6-d208-378a-7252-d32f32e11148/mza_2467378358131910588.png"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>

    <li>
      <img src="http://kachibito.net/sample/wookmark/images/image_2.jpg">
      <p>text<br />1 like  21 repins  </p>
      <p class="bgarea">
        <img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">
        kachibito onto Photos
      </p>
    </li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_3.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_4.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_5.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_6.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_7.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_8.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_9.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_10.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_1.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_2.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_3.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_4.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_5.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_6.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_7.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_8.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_9.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_10.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_1.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_2.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_3.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_4.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_5.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_6.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_7.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_8.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_9.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <li><img src="http://kachibito.net/sample/wookmark/images/image_10.jpg"><p>text<br />1 like  21 repins  </p><p class="bgarea"><img src="http://kachibito.net/sample/wookmark/images/me.jpg" width="50" height="50">kachibito onto Photos</p></li>
    <!-- End of grid blocks -->
  </ul>
</div>


<script type="text/javascript">
$.event.add(window, "load", new function() {
    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main_box'), // Optional, used for some extra CSS styling
      offset: 2, // Optional, the distance between grid items
      itemWidth: 210 // Optional, the width of a grid item
    };

    // Get a reference to your grid items.
    var $handler = $('#tiles li');

    // Call the layout function.
    $handler.wookmark(options);

    // Capture clicks on grid items.
    $handler.click(function(){
      // Randomize the height of the clicked item.
      //var newHeight = $('img', this).height() + Math.round(Math.random()*300+30);
      var newHeight = $('img', this).height() + Math.round(Math.random()*300);
      $(this).css('height', newHeight+'px');

      // Update the layout.
      $handler.wookmark();
    });
});
/*
  $(document).ready(new function() {
    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main_box'), // Optional, used for some extra CSS styling
      offset: 2, // Optional, the distance between grid items
      itemWidth: 210 // Optional, the width of a grid item
    };

    // Get a reference to your grid items.
    var $handler = $('#tiles li');

    // Call the layout function.
    $handler.wookmark(options);

    // Capture clicks on grid items.
    $handler.click(function(){
      // Randomize the height of the clicked item.
      //var newHeight = $('img', this).height() + Math.round(Math.random()*300+30);
      var newHeight = $('img', this).height() + Math.round(Math.random()*300);
      $(this).css('height', newHeight+'px');

      // Update the layout.
      $handler.wookmark();
    });
  });
*/
</script>