<%= form_tag sessions_path, :method => :post do %>
  <div class="field">
    <%= text_field_tag :username, '', placeholder: 'username' %>
  </div>
  <div class="field">
    <%= password_field_tag :password, '', placeholder: 'password' %>
  </div>
  <div class="actions">
    <%= button_tag "Login", type: :submit, class: 'btn' %>
  </div>
<% end %>