language: ruby
rvm:
  - 1.9.3
  - 1.9.2

gemfile:
  - Gemfile

env:
- DB=mysql

before_script:
 - mysql -e 'create database frustration_test;'

script: 
  - RAILS_ENV=test bundle exec rake --trace db:migrate
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/
