@import "variables.css.scss";

#frustration {
  #top_index {
    //-----------------------
    // items
    //-----------------------
    .items {
      position: relative;
      margin: 0;
      display: block;

      .fuman_status { background-color: #ffffff; }
      .fuman_status {
        border: 1px solid #dedede;
      }
      .fuman_status:hover {
        color: #000000;
        border: 1px solid #cdcdcd;
      }
      .fuman_status_1:hover { background-color: $fuman_status_color_1; }
      .fuman_status_2:hover { background-color: $fuman_status_color_2; }
      .fuman_status_3:hover { background-color: $fuman_status_color_3; }
      .fuman_status_4:hover { background-color: $fuman_status_color_4; }
      .fuman_status_5:hover { background-color: $fuman_status_color_5; }

      li.item {
        @include border-radius(8px);

        background-color: #ffffff;
        //width: 200px;
        border: 1px solid #dedede;
        margin: 10px 0;

        .side_top {
          img {
            display: block;
            width: 180px ;
            height:auto;
            padding: 10px;
          }

          p {
            font-size: 12px;
            padding: 5px 5px;
            word-break: break-all;
            width: 180px;
          }

          hr {
            margin: 5px 0px;
          }
        }

        .service_icon {
          position: absolute;
          top:   5px;
          right: 5px;

          img {
            width: 25px;
          }
        }

        .created_user {
          margin: 5px 10px;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
