@import "variables";

#frustration {
  #top_index {
    //-----------------------
    // items
    //-----------------------
    .items {
      position: relative;
      margin: 0;
      display: block;

      li.item {
        @include border-radius(8px);

        background-color: #ffffff;
        //width: 200px;
        border: 1px solid #dedede;
        margin: 10px 0;

        .side_top {
          img {
            display: block;
            width: 180px ;
            height:auto;
            padding: 10px;
          }

          p {
            font-size: 12px;
            padding: 5px 5px;
            word-break: break-all;
            width: 180px;
          }

          hr {
            margin: 5px 0px;
          }
        }

        .service_icon {
          position: absolute;
          top:   5px;
          right: 5px;

          img {
            width: 25px;
          }
        }
      }
    }
  }
}