@import "variables";

#frustration {

  //------------------------------------------------------------
  // index
  //------------------------------------------------------------
  #categories_index {
    input {
      margin-bottom: 0;
    }

    .wrapper {
      width: 800px;
      min-height: 100px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #ccc;
      @include border_raidus(8px);

      .form_create {
        vertical-align: middle;
        margin: 30px auto;
        width: 420px;

        label {
          display: inline-block;
          font-size: 24px;
          font-weight: bold;
        }
        div {
          display: inline-block;
        }
      }

      ul {
        padding: 0;
        margin: 0 40px 20px 40px;
      }

      li {
        .mode_show,
        .mode_edit {
          width: 100%;
          height: 50px;
          line-height: 50px;
          background-color: #FAFAFA;
          position: relative;
          border-bottom: 1px solid #CECECE;
          box-shadow: 0px -1px 3px #EEE inset;
        }

        .mode_edit {
          span {
            margin-left: 15px;
          }

          input[type=text] {

          }
        }

        .mode_show {
          span {
            padding-left: 15px;
            vertical-align: middle;
            font-size: 18px;
          }

          .delete {
            position: absolute;
            top: 0px;
            right: 0;
            font-size: 24px;
            border: none;
            color: black;
            background: transparent;


            &:hover {
              color: $link_hover_color;
            }
            &:active {
              color: $link_active_color;
            }
          }
        }


      }

    }
  }
}