@import "variables.css.scss";

#frustration {
  #categories_index {
    h1 {
      margin: 10px;
    }

    input {
      margin-bottom: 0;
    }

    .wrapper {
      width: 800px;
      min-height: 100px;
      margin: 0 auto;
      @include list_box_design;

      .form_create {
        vertical-align: middle;
        margin: 30px auto;
        width:  300px;

        div {
          display: inline-block;
        }
      }

      ul {
        padding: 0;
        margin: 0 40px 20px 40px;
      }

      li {
        .mode_show,
        .mode_edit {
          width: 100%;
          height: 50px;
          line-height: 50px;
          position: relative;
          border: 1px solid #ddd;
          box-shadow: 0px -1px 3px #EEE inset;
          margin-bottom: 10px;
          cursor: pointer;
        }

        .mode_edit {
          span {
            margin-left: 15px;
          }

          input[type=text] {

          }
        }

        .mode_show {
          span {
            padding-left: 15px;
            vertical-align: middle;
            font-size: 18px;
          }

          .category_delete {
            position: absolute;
            top: 0px;
            right: 0;
            font-size: 24px;
            color: #999999;
            border-radius: 0px;
            border-top: none;
            border-right: none;
            width: 30px;
            height: 30px;
            padding: 0 0 4px 0;
            margin: 0;

            &:hover {
              color: $link_hover_color;
            }
            &:active {
              color: $link_active_color;
            }
          }
        }


      }

    }
  }
}
