@import "variables.css.scss";

#frustration {
  #fumans_index {
    button.active {
      background-color: #888;
      color: #fff;
    }

    h1 {
      margin: 10px;
    }

    select.btn {
      font-size: 22px;
      padding: 5px 0;
      background-color: #d6d6d6;
    }

    //------------------------
    // search
    //------------------------
    #search_box {
      margin: 0 auto;
      width: 640px;
      @include list_box_design;

      form {
        padding-left: 30px;

        h4 {
          width: 550px;
        }

        .status,
        .category {
          position: relative;
          margin: 0px;
          padding: 20px 0px;
          border-bottom: 1px dotted #ccc;

          .fuman_form {
            position: absolute;
            top: 10px;
            left: 150px;

            .radio {
              float: left;
              padding-left:  25px;
              padding-right: 10px;
            }
          }
        }
        button[type=submit] {
          margin: 10px 0;
        }
      }
    }

    //------------------------
    // items
    //------------------------
    .items {
      list-style-type: none;
      position: relative;
      margin: 0 auto;
      display: block;
      width: 840px;

      ul {
        margin: 0px;
      }
      li.item {
        width: 100%;
        margin: 10px 0px;
        position: relative;
        @include list_box_design;

        section {
          display: table;
          width: 100%;

          .popup_info {
            display: none;
            position: absolute;
            right: -65px;
            top: 0;
            background:rgba(0, 0, 0, 0.7);
            color: white;
            font-size: 0.8em;
            padding: 3px;
            border-radius: 2px;
            margin: 15px 0 0 0;

            .arrow {
              position: absolute;
              width: 0;
              height: 0;
              border-color: transparent;
              border-style: solid;
              top: 50%;
              left: 0;
              margin: -5px 0 0 -5px;
              border-width: 5px 5px 5px 0;
              border-right-color: rgba(0, 0, 0, 0.7);
            }
          }


          .side_left {
            display: table-cell;
            width: 180px;

            img {
              display: block;
              width: 180px ;
              padding: 10px;
            }
          }
          .side_right {
            display: table-cell;
            vertical-align: top;
            width: 500px;
            .title {
              margin: 10px 0px;
              h2 {
                font-size: 24px;
              }
            }
            .status,
            .category,
            .comment,
            .tag {
              position: relative;
              margin: 0px;
              padding: 20px 0px;
              border-bottom: 1px dotted #ccc;

              .fuman_form {
                position: absolute;
                top: 10px;
                left: 150px;
              }
              .save_button {
                position: absolute;
                top: 10px;
                left: 420px;
              }
            }

            .status {
              .radio {
                float: left;
                padding-left:  25px;
                padding-right: 10px;
              }

            }

            .delete_fuman {
              display: none;
              position: absolute;
              top:   0px;
              right: 0px;
              width: 50px;
              height: 50px;
              border-radius: 4px;
              border: 2px solid #F07889;
              font-size: 50px;
              line-height: 0px;
              text-align: center;

              div {
                top: 8px;
                left: -4px;
                position: relative;
              }
            }

            //------------------------
            // comment list for items
            //------------------------
            .comment {
            }

            .comment_list {
              position: relative;
              display: table;
              margin: 10px 0px;

              .user {
                vertical-align: top;
                display: table-cell;

                img {
                  background-color: #ccc;
                  padding: 3px;
                  margin-left: 10px;
                }
              }
              .list {
                display: table-cell;
                width: 480px;

                // 吹き出し
                li {
                  min-height: 70px;
                  position: relative;
                  margin: 0 0 5px 20px;
                  padding: 5px 0 20px 5px;
                  border: 1px solid #ddd;

                  // 吹き出し（内部）
                  &:before {
                    content: '';
                    position: absolute;
                    border-bottom: 11px solid transparent;
                    border-right:  11px solid #ddd;
                    border-top:    12px solid transparent;
                    left:         -11px;
                  }
                  // 吹き出し（枠線）
                  &:after {
                    content: '';
                    position: absolute;
                    border-bottom: 10px solid transparent;
                    border-right:  10px solid #fff;
                    border-top:    10px solid transparent;
                    left:         -10px;
                    top:            7px;
                  }
                  .comment_line {
                    font-size: 14px;
                    width: 360px;
                  }
                  .date {
                    position: absolute;
                    bottom: 0px;
                    right: 5px;
                    font-size: 12px;
                    color: #999;
                  }
                  .delete_comment {
                    position: absolute;
                    right: 0px;
                    top: 0;
                    border-bottom: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    text-align: center;

                    a {
                      font-size: 22px;
                      width: 20px;
                      height: 20px;
                      background-color: #ddd;
                      display: block;
                      padding: 8px;
                      border-radius: 0;
                      border: none;

                      &:hover {
                        color: #000;
                      }
                      span {
                        color: #999;
                        line-height: 0;
                        display: block;
                        right: 3px;
                        position: relative;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .pagination {
      text-align: center;
      span {
        font-size: 32px;
        width: 100px;
        text-shadow: 0px 0px 2px #666;
        font-weight: bold;

        &.current {
          color: #333;
        }

        a:hover {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
}
