  <li data-comment_id="<%= comment.id %>">
    <div class="comment_line">
      <%= comment.text %>
    </div>
    <div class="date">
      <%= $.timeago(comment.created_at) %>
    </div>
    <div class="delete_comment">
      <a href="javascript:;" data-comment_id="<%= comment.id %>" class="btn">
        <span>x</span>
      </a>
    </div>
  </li>