  <li data-comment_id="<%= comment.id %>">
    <div class="comment_line">
      <%= comment.text %>
    </div>
    <div class="date">
      <%= comment.created_at.substr(0, 16).replace('T', ' ') %>
    </div>
    <div class="delete_comment">
      <a href="javascript:;" data-comment_id="<%= comment.id %>"><span>x</span></a>
    </div>
  </li>