<!-- item -->
<div class="item_box" data-code="">
  <div class="item_image">
    <a href="<%= item.detail_url %>" target="_blank">
      <img src="<%= item.image %>" alt="41zudruhkal" onload="Frustration.Common.show_resize_image(this, 250);" />
    </a>
  </div>

  <div class="settings">
    <div class="actions">
      <button class="btn show_modal_frustration" data-product_code="" name="button" type="button">+</button>
    </div>
  </div>

</div>
<!-- /item -->