//------------------------------------------------------------------------------
//   common value
//------------------------------------------------------------------------------
$main_background_color: #FB697E;
$body_background_color: #fffafa;

//$header_background_color: #ffffff;

$menu_background_color: #FA8A9A;
$menu_hover_color: #FB697E;

$link_hover_color: #aaaaaa;
$link_active_color: #fa8a9a;

// for item's button
$create_button_top: #F7E3E3;
$create_button_bottom: #FFD7D7;
$created_button_top: #FB697E;
$created_button_bottom: #F6415B;

// graduation colors
$fuman_status_color_1: #ff8294;
$fuman_status_color_1_grad: #D16675;
$fuman_status_color_2: #bcf99e;
$fuman_status_color_2_grad: #7AA764;
$fuman_status_color_3: #9ef2f9;
$fuman_status_color_3_grad: #82CBD1;
$fuman_status_color_4: #f9f99e;
$fuman_status_color_4_grad: #D5D57C;
$fuman_status_color_5: rgba(255,130,148, 0.3);
$fuman_status_color_5_grad: rgba(168, 0, 24, 0.3);

@mixin list_box_design {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #bbb;
  background-color: #fff;
}

@mixin border-radius($pixel) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
}

@mixin box-shadow($first) {
  box-shadow: $first;
  -webkit-box-shadow: $first;
  -moz-box-shadow: $first;
}

@mixin box-shadow2($first, $second) {
  box-shadow: $first, $second;
  -webkit-box-shadow: $first, $second;
  -moz-box-shadow: $first, $second;
}

@mixin linear-gradient-top($first, $second) {
  //background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7E3E3),color-stop(100%,#FFD7D7));
  background: linear-gradient(top, $first, $second);
  background: -webkit-linear-gradient(top, $first, $second);
  background: -moz-linear-gradient(top, $first, $second);
}
