//------------------------------------------------------------------------------
//   common value
//------------------------------------------------------------------------------
$main_background_color: #FB697E;
$body_background_color: #fffafa;

//$header_background_color: #ffffff;

$menu_background_color: #FA8A9A;
$menu_hover_color: #FB697E;

$link_hover_color: #aaaaaa;
$link_active_color: #fa8a9a;



@mixin list_box_design {
  border: 1px solid #bbb;
  box-shadow: 0px 0px 4px #bbb;
  background-color: #fff;
}

@mixin border-radius($pixel) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
}

@mixin box-shadow($first) {
  box-shadow: $first;
  -webkit-box-shadow: $first;
  -moz-box-shadow: $first;
}

@mixin box-shadow2($first, $second) {
  box-shadow: $first, $second;
  -webkit-box-shadow: $first, $second;
  -moz-box-shadow: $first, $second;
}

@mixin linear-gradient-top($first, $second) {
  //background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F7E3E3),color-stop(100%,#FFD7D7));
  background: linear-gradient(top, $first, $second);
  background: -webkit-linear-gradient(top, $first, $second);
  background: -moz-linear-gradient(top, $first, $second);
}
