$main_background_color: #FB697E;

body {
  #background-color: $main_background_color;
  #color: white;
}


#header_logo {
  height: 40px;
  position: absolute;
  top: 3px;
}

#header_menu {
  background-color: $main_background_color;
  margin-bottom: 10px;

  .navbar-inner {
    background-image: none;
    background-color: $main_background_color;
  }

  .nav > li > a {
    color: #fff !important;
    text-shadow: 3px 5px 3px $main_background_color;
  }
}