/*-------------------------------
   common value
-------------------------------*/
$main_background_color: #FB697E;



/*-------------------------------
   header
-------------------------------*/
header#header_menu {
  background-color: $main_background_color;
  margin-bottom: 10px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

  #header_logo {
    height: 50px;
    position: absolute;
    top: 5px;
  }

  .left_block {

  }
  .right_block {
    float: right;
    padding-top: 8px;
  }

  nav.top_menu {
    ul {
      padding: 5px;
    }
    li {
      float: left;
      margin-right: 10px;
    }

    ul li > a {
      font-size: 16px;
      color: #fff !important;
      //text-shadow: 3px 5px 3px $main_background_color;
    }

    li.user_menu {
      ul {
        padding: 0px;
        position: absolute;
        right: 15px;
        top: 50px;
        background-color: #FA8A9A;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      }
      li {
        float: none;
        margin: 0px;
      }
      li a {
        display: block;
        margin: 0px;
        padding: 5px 10px;
        //border-bottom: 1px solid #000;
        width: 140px;
      }
      li:hover {
        background-color: #FB697E;
      }
    }
  }
}


/*
li .dropdown .open  {
  background-color: $main_background_color;
}

.dropdown-menu {
  position: absolute;
  left: -80px;
}


.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar .nav > li > .dropdown-menu::before {
  left: 109px;
}

.navbar .nav > li > .dropdown-menu::after {
  left: 110px;
}
*/

/*-------------------------------
   notice
-------------------------------*/
.container {
  padding: 0 15px;
}

