@import "variables.css.scss";

h1, h2, h3, h4 {
  color: #666;
}

//------------------------------------------------------------------------------
// override
//------------------------------------------------------------------------------
button {
  margin-top: -0.5px;
}
ul ol {
  margin: 0;
  padding: 0;
}
img {
  @include border-radius(4px);

  &:hover {
    opacity: 0.9;
  }
}
//------------------------------------------------------------------------------
// body
//------------------------------------------------------------------------------
body {
  background-color: $body_background_color;
}
//------------------------------------------------------------------------------
// header
//------------------------------------------------------------------------------
header#header_menu {
  background-color: $main_background_color;
  margin-bottom: 10px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

  #header_logo {
    height: 50px;
    position: absolute;
    top: 5px;
  }

  .left_block {
  }
  .right_block {
    float: right;
    height: 100%;

    &:hover {
      background-color: $link_active_color;
    }

    &.nologin {
      &:hover {
        background-color: $main_background_color;
      }
    }
  }

  ul {
    z-index: 100;
  }

  nav.separate {
    background-color: #FA8A9A;
    float: left;
    height: 50px;
    width: 1px;
    box-shadow: 1px 0px 2px #FA8A9A;
    box-shadow: 1px 0px 2px #FA8A9A inset;
    box-sizing: content-box;
  }

  //------------------------------------
  // not login
  //------------------------------------
  nav.top_menu_nologin {
    height: 50px;
    float: left;

    ul {
      li {
        float: left;

        a {
          font-size: 16px;
          color: #fff;
          height: 35px;
          width: 70px;
          display: block;
          padding: 15px 0 0 10px;

          &:hover {
            text-decoration: none;
            color: $main_background_color;
            background-color: #fff;
          }
        }
      }
    }
  }

  //------------------------------------
  // logined
  //------------------------------------
  nav.top_menu {
    z-index: 9100;
    height: 50px;
    float: left;

    .user_info {
      display: block;
      vertical-align: middle;

      a {
        color: #fff;
        display: block;
        height: 40px;
        width: 200px;
        padding: 5px 0 0 10px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    li.user_menu {
      ul {
        padding: 0px;
        margin: 5px 0 0 0;
        position: absolute;
        right: 30px;
        background-color: $menu_background_color;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

        li {
          float: none;
          margin: 0px;

          a {
            text-decoration: none;
            color: #fff;
            display: block;
            margin: 0px;
            padding: 5px 10px;
            width: 120px;
          }

          &:hover {
            background-color: $menu_hover_color;
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------------------
// util
//------------------------------------------------------------------------------
.hide {
  display: none;
}

//------------------------------------------------------------------------------
// container
//------------------------------------------------------------------------------
.container {
  padding: 0 15px;
  color: #6d6d6d;
}

//------------------------------------------------------------------------------
// modal
//------------------------------------------------------------------------------
.modal_conteiner {
  display: none;

  padding: 0px;
  background-color: white;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 10px #333;
  border-radius: 6px;
  overflow: auto;

  .header{
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #DDD;
    background-color: whitesmoke;

    a.right{
      position: absolute;
      z-index: 1;
      top:     0px;
      right:   0;
      bottom:  0;
      display: block;
      width:   60px;
      height:  60px;

      font-size: 20px;

      border-left: 1px solid rgba(34, 25, 25, 0.15);
    }
    a:hover.right{
      background-color: #ddd;
    }
    a.right div{
      text-align: center;
      top: 10px;
      position: relative;
      font-size: 30px;
    }

    h2 {
      height:  50px;
      margin: 0;
      padding: 10px 0 0 10px;
    }
  }

  .body {
    margin: 10px;
    position: relative;
    padding-top: 10px;

    select {
      font-size: 24px;
    }

    h4 {
      color: #666;
    }

    .btn-group > .btn {
      height: 50px;
    }
  }

  .footer{
    margin: 0 10px 10px 0;
    text-align: right;
  }
}

#modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  opacity: 0.85;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=80);

  &.visible{
    display: none;
  }
}
