/**
 * Grid container
*/
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
}

/**
 * Grid items
*/
#tiles li {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;

  box-shadow:1px 1px 2px rgba(0,0,0,0.4);
}
#titles li .imgs{

}
#tiles li img {
  display: block;
  width: 180px ;
  padding: 10px 10px 0 10px ;
  height:auto;
}
#tiles li p img{
  width:30px;
  float:left;
  padding: 0;
  margin-right:10px;
}

/**
 * Grid item text
*/
#tiles li p {
  color: #666;
  font-size: 12px;
  padding:2px 10px;
  overflow:hidden;
}

#tiles li p.bgarea{
  background: #eee ;
  margin-bottom: 0 ;
  color:#9d7e7e;
  font-weight:bold;
  padding:10px;
}

/**
 * Some extra styles to randomize heights of grid items.
*/
#tiles ali:nth-child(3n) {
  height: 175px;
}

#tiles ali:nth-child(4n-3) {
  padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
  height: 250px;
}

/** General page styling **/


.follow {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index:9999;
}