<div id="<%= controller_name %>_<%= action_name %>">
  <div class="wrapper">

    <h1>Category List</h1>

    <form class="form_create">
      <div>
      <%= text_field_tag :name, '', id: 'category_name' %>
      <%= button_tag :create, type: :button, class: 'btn category_create' %>
      </div>
    </form>

    <ul id="items">
    </ul>

  </div>
</div>

<script>
  $(function() {
      var app_view = new BackboneFrustration.Views.Categories.IndexView();
  });
</script>

