@import "variables.css.scss";

#frustration {
  #users_new {
    width: 800px;
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 10px 0;
    display: block;
    background-color: #fff;
    text-align: center;
    @include border-radius(8px);

    button {
      width: 260px;
    }

    input {
      font-size: 18px;
      padding: 5px;
      margin-bottom: 10px;
    }
  }
}
