@import "variables";

#frustration {
  #users_new {
    width: 800px;
    border: 1px solid #ddd;
    margin: 10px auto;
    padding: 10px 0;
    display: table;
    background-color: #fff;
    text-align: center;
    @include border-radius(8px);


    input {
      line-height: 38px;
      height: 38px;
      font-size: 32px;
    }
  }
}