@import "variables.css.scss";

#frustration {
  #users_show {
    //-----------------------
    // profile
    //-----------------------
    .profile_header {
      position: relative;
      display: table;
      margin: 10px auto;
      padding: 0px;

      //height: 200px;
      //width: 800px;
      //border: 1px solid #dedede;
      background-color: #fff;
      width: 800px;
      height: 150px;
      border: 1px solid #dedede;
      @include border-radius(8px);

      .profile_icon {
        @include border-radius(8px);

        img {
          width: 150px;
          height: 150px;
          @include border-radius(8px 0px 0px 8px);
        }
      }

      .username {
        position: absolute;
        top: 10px;
        left: 180px;
        h2 {
          font-size: 42px;
          text-shadow: 1px 1px 2px #CCC;
        }
      }
      .message {
        position: absolute;
        top: 80px;
        left: 190px;
        width: 380px;
      }

      .follow_group {
        position: absolute;
        right: 10px;
        top: 10px;

        button {
          height: 60px;
          width: 210px;
          font-size: 32px;
          color: white;
          @include linear-gradient-top(#FA8A9A,#FB697E);
          border: 1px solid #FA8A9A;

          &:hover {
            @include linear-gradient-top(#FB697E,#F6415B);
            border: 1px solid #FA8A9A;
            color: white;
          }
          &:active {
            @include box-shadow2(inset 0 5px 10px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05));
          }
        }
      }

      .friends,
      .status_bar {
        button, a {
          width:  80px;
          height: 50px;

          h4, p {
            font-size: 16px;
            line-height: 25px;
            color: white;
            margin: 0;
            padding: 0;
          }
          //text-shadow: 1px 1px 1px #ddd;
          @include linear-gradient-top(#FA8A9A,#FB697E);
          border: 1px solid #FA8A9A;

          &:hover {
            @include linear-gradient-top(#FB697E,#F6415B);
            border: 1px solid #FA8A9A;
            color: white;
          }
          &:active {
            @include box-shadow2(inset 0 2px 10px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.05));
          }
        }
      }
      .status_bar {
        position: absolute;
        left: 200px;
        bottom: 20px;
      }

      .friends {
        position: absolute;
        right: 10px;
        bottom: 10px;

        span {
          font-size: 24px;
        }
      }

    }

    //-----------------------
    // menu
    //-----------------------
    .items_menu {
      margin: 0 auto;
      width: 800px;

      ul {
        li {
          &.active {
            a {
              background-color: $body_background_color;
            }
            &:hover {
              @include box-shadow(0px 15px 20px #fff);
            }
          }

          a {
            font-weight: bold;
            //background-color: #fa8a9a;
            &:hover {
              background-color: #ffffff;
            }
          }
        }
      }

      .menu_status {
        text-align: center;
        a {
          width: 100px;
          font-size: 18px;
          margin: 2px 0;
          border: 1px solid #eee;
          //border: 1px solid white;
          &:hover {
            color: #000;
          }

          &.f_1 {
            @include linear-gradient-top($fuman_status_color_1, $fuman_status_color_1_grad);
            &:hover {
              @include linear-gradient-top($fuman_status_color_1, $fuman_status_color_1);
            }
          }

          &.f_2 {
            background-color: $fuman_status_color_2;
            @include linear-gradient-top($fuman_status_color_2, $fuman_status_color_2_grad);
            &:hover {
              @include linear-gradient-top($fuman_status_color_2, $fuman_status_color_2);
            }
          }
          &.f_3 {
            background-color: $fuman_status_color_3;
            @include linear-gradient-top($fuman_status_color_3, $fuman_status_color_3_grad);
            &:hover {
              @include linear-gradient-top($fuman_status_color_3, $fuman_status_color_3);
            }
          }
          &.f_4 {
            background-color: $fuman_status_color_4;
            @include linear-gradient-top($fuman_status_color_4, $fuman_status_color_4_grad);
            &:hover {
              @include linear-gradient-top($fuman_status_color_4, $fuman_status_color_4);
            }
          }
          &.f_5 {
            background-color: $fuman_status_color_5;
            @include linear-gradient-top($fuman_status_color_5, $fuman_status_color_5_grad);
            &:hover {
              @include linear-gradient-top($fuman_status_color_5, $fuman_status_color_5);
            }
          }
        }

      }

      .menu_category {
        text-align: center;
        a {
          font-size: 18px;
          margin: 2px 0;
        }
      }
    }

    //-----------------------
    // items
    //-----------------------
    .items {
      position: relative;
      margin: 0;
      display: block;

      li.item {
        @include border-radius(8px);

        background-color: #ffffff;
        //width: 200px;
        border: 1px solid #dedede;
        margin: 10px 0;

        .side_top {
          img {
            display: block;
            width: 180px ;
            height:auto;
            padding: 10px;
          }

          p {
            font-size: 12px;
            padding: 5px 5px;
            word-break: break-all;
            width: 180px;
          }

          hr {
            margin: 5px 0px;
          }
        }

        .service_icon {
          position: absolute;
          top:   5px;
          right: 5px;

          img {
            width: 25px;
          }
        }
      }
    }
  }
}
